h1 {
  font-size: 24px; /* Adjust the font size as desired */
  font-weight: bold;
}

p {
  font-size: 24px; /* Adjust the font size to match h1 */
  font-weight: normal; /* Remove bold style */
}

ul {
  list-style-type: none;
}

.text-container {
  max-width: 80ch; /* Adjust the width as desired */
  word-wrap: break-word;
}